#gallery-img1 {
    background-image: url("../img/60thAnniversaryLogo(LVGEA).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img2 {
    background-image: url("../img/80YearsLogo(MarketingEducation).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 310px;
}

#gallery-text2 {
    width: 72%;
}

#gallery-img3 {
    background-image: url("../img/BlueRidgeMountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 310px;
}

#gallery-text3 {
    width: 73%;
}

#gallery-img4 {
    background-image: url("../img/AbstractShapeArt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 415px;
}

#gallery-text4 {
    width: 63%;
}

#gallery-img5 {
    background-image: url("../img/AbstractHorseEdited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img6 {
    background-image: url("../img/DogsInfograph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img7 {
    background-image: url("../img/Dreams.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 310px;
}

#gallery-text7 {
    width: 73%;
}

#gallery-img8 {
    background-image: url("../img/FantasyManipulationArt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img9 {
    background-image: url("../img/GuitarfromScratch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
}

#gallery-text9 {
    width: 78%;
}

#gallery-img10 {
    background-image: url("../img/Luminescence.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img11 {
    background-image: url("../img/WaterDragon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 310px;
}

#gallery-text11 {
    width: 73%;
}

#gallery-img12 {
    background-image: url("../img/WindowsVistaEffect.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img13 {
    background-image: url("../img/mysteriousmountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 360px;
}

#gallery-text13 {
    width: 67%
}

#gallery-img14 {
    background-image: url("../img/Surreal-Cityscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img15 {
    background-image: url("../img/One-Day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img16 {
    background-image: url("../img/DarkSurreal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 265px;
}

#gallery-text16 {
    width: 76%
}

#gallery-img17 {
    background-image: url("../img/ChineseTiger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-text17 {
    width: 70%
}

#gallery-img18 {
    background-image: url("../img/DragonJPEG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
