@font-face {
  font-family: 'Kameron';
  font-style: normal;
  font-weight: 400;
  src: local('Kameron'), url(https://fonts.gstatic.com/s/kameron/v7/Teu2HdJ0U7BWBhN9GzN8SALUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
}
